<input
  type="text"
  placeholder="Pesquisar rua"
  [(ngModel)]="enderecoPesquisa"
  name="rua"
/>
<button (click)="pesquisarRua()">Pesquisar</button>
<br />
<input type="text" placeholder="Número" [(ngModel)]="numeroQuarteirao" />

<div id="map">
  <div
    class="map-container"
    leaflet
    [leafletOptions]="options"
    (leafletMapReady)="onMapReady($event)"
    (leafletClick)="mapaClicado($event)"
  ></div>
</div>

<div class="buttons-group">
  <button (click)="limparSelecao()">Reiniciar Seleção</button>
  <button (click)="salvarSelecao()">Salvar</button>
  <button (click)="imprimePoligonos()">Teste</button>
</div>

<div><h1>teste</h1></div>
