.map-container {
  height: 500px;
  width: 90%;
}

#map {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.btn {
  margin-left: 10px;
}

.button-save {
  background: #2649a5;
  color: white;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
}
